<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col"><%= t(:name, scope: 'activerecord.attributes.team') %></th>
      <th scope="col"><%= t(:trainer, scope: 'activerecord.attributes.team') %></th>
      <th scope="col"><%= t(:quantity_pokemon, scope: 'activerecord.attributes.team') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td>
          <%= link_to profile_path(team.trainer) do %>
            <%= team.trainer.name %>
          <% end -%>
        </td>
        <td><%= team.pokemons.count %></td>
        <td class="align-middle">
          <%= link_to team, title: t(:show), class: 'btn btn-primary' do %>
            <i class="fas fa-file-alt"></i>
          <% end -%>
        </td>
        <% if current_trainer == team.trainer %>
          <td class="align-middle">
            <%= link_to edit_team_path(team), title: t(:edit), class: 'btn btn-secondary' do %>
              <i class="fas fa-edit"></i>
            <% end -%>
          </td>
          <td class="align-middle">
            <%= button_to team, method: :delete, data: { confirm: "#{t(:are_you_sure)}?" }, title: t(:destroy), class: 'btn btn-danger' do %>
              <i class="fas fa-trash"></i>
            <% end -%>
          </td>
        <% end -%>
      </tr>
    <% end -%>
  </tbody>
</table>