<div class="w-75 mx-auto p-4" style="border-radius: 30px; box-shadow: 1px 1px 20px rgba(0,0,0,.3)">
  <% if @trainer.picture.attached? %>
    <%= image_tag @trainer.picture, size: '200x200', class: 'img-thumbnail rounded mx-auto d-block mb-3' %>
  <% end -%>
  <div class="row">
    <div class="col-sm-6">
      <h4>
        <b><%= t(:name, scope: 'activerecord.attributes.trainer') %>: </b> 
        <%= @trainer.name %>
      </h4>
      <br>
      <h4>
        <b><%= t(:email, scope: 'activerecord.attributes.trainer') %>:</b>
        <%= @trainer.email %>
      </h4>
    </div>
    <div class="col-sm-6">
      <h4>
        <b> <%= t(:age, scope: 'activerecord.attributes.trainer') %>: </b> 
        <%= @trainer.age %>
      </h4>
      <br>
      <h4>
        <b><%= t(:gender, scope: 'activerecord.attributes.trainer') %>:</b>
        <%= t("enums.genders.#{@trainer.gender}")%>
      </h4>
    </div>
  </div>
  <br>

  <div class="teams mt-4">
    <h4>
      <%= @trainer.teams.count %>
      <%= t(:team, scope: 'activerecord.models').pluralize %>
    </h4>
    <%= render 'teams/teams_table', teams: @trainer.teams %>
  </div>
</div>
